* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(227, 227, 227);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif, serif;

}

main {
    margin: auto;
    width: 1200px;
}

header {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.product-cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 40px;


}

.card {
    height: 340px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 10px 20px rgb(158, 158, 158);
    padding: 20px;
    text-align: center;
    position: relative;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    animation: fadein 1.5s ease;

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 10px grey;
    cursor: pointer;

}

@keyframes fadein {
    from {
        transform: translatey(15px);
        opacity: 0;
    }

    to {
        transform: translatey(0px);
        opacity: 1;
    }

}

.badges {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 67, 4);
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease;
    animation: pulse 1.5s ease-in-out infinite;
}

.product-images {
    font-size: 50px;
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: transform 0.3s ease;
    animation: float 3s ease-in-out infinite;

}

@keyframes float {

    0%,
    100% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }
}


@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}


h3 {
    margin-bottom: 25px;

}

.description {
    color: grey;
    line-height: 20px;
    margin-bottom: 20px;
}

.price {
    font-size: 30px;
    font-weight: bold;
    color: rgb(108, 108, 255);
    margin-bottom: 20px;
    letter-spacing: 1px;

}

.btn {

    background-color: rgb(108, 108, 255);
    color: white;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    width: 100%;
    padding: 10px;
    transition: all 0.3s ease;

    cursor: pointer;

}

.btn:hover {
    transform: scale(1.05);
    background-color: rgb(62, 62, 138);

}


.btn:active {
    transform: scale(0.95);
}

.pc-table {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(155, 155, 155);
    margin-bottom: 20px;
}

.pc-table h2 {
    text-align: center;
    padding: 20px;
}

th {
    text-align: center;
    font-size: 20px;
    font-weight: 100px;
    padding: 20px;
    color: white;
    background: rgb(157, 203, 244);
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

}

.pc-table td {
    padding: 20px;
    border-bottom: 1px rgb(232, 232, 232) solid;
}

.lc tr {
    border-bottom: none;
}

tr:hover {
    background: rgb(236, 236, 236);
}

footer {
    background: black;
    color: rgb(227, 225, 225);
    padding: 20px;
    text-align: center;
}