*{
    margin: 0;
    padding: 0;
}

body{
    background: black;

}
.container{
    background: rgb(233, 231, 231);
    width:100% ;
    margin: auto;

}
h2{
    color: rgb(239, 239, 239);
    text-align: center;
    background: rgba(47, 46, 46, 0);
    padding: 10px;
}
.product-card {
    width: 250px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

table {
    border: 2px solid ;
}

footer{
    color: rgb(218, 216, 216);
    text-align: center;
    padding: 10px;
}